name: Iframe RDP
on:
  workflow_dispatch:

jobs:
  run-rdp:
    runs-on: windows-latest
    steps:
      - name: Start noVNC
        run: |
          choco install tightvnc cloudflared -y
          # Setup VNC Password
          & "C:\Program Files\TightVNC\tvnserver.exe" -controlapp -setpassword "cloud123"
          net start "TightVNC Server"
          # Start the Web-to-VNC translator
          npm install -g novnc
          Start-Process powershell -ArgumentList "-NoProfile -Command & {novnc --vnc localhost:5900 --listen 8080}"

      - name: Create Iframe Tunnel
        shell: pwsh
        run: |
          # This gives the noVNC server a public URL that an Iframe can see
          cloudflared tunnel --url http://localhost:8080
