name: Windows via Netboot
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system-x86 novnc python3-websockify jq
          
      - name: Download Netboot Loader
        run: |
          # This is a tiny bootloader that installs OSs over the network
          curl -L -o netboot.iso https://boot.netboot.xyz/ipxe/netboot.xyz.iso

      - name: Setup Virtual Disk
        run: qemu-img create -f qcow2 windows.qcow2 30G

      - name: Start Ngrok and QEMU
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: |
          # Install Ngrok
          curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null
          echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list
          sudo apt-get update && sudo apt-get install ngrok
          
          ngrok config add-authtoken $NGROK_AUTH_TOKEN
          
          # Start noVNC proxy
          websockify --web /usr/share/novnc/ 6080 localhost:5900 &
          
          # Start Ngrok Tunnel
          ngrok http 6080 --log=stdout > /dev/null &
          sleep 5
          
          echo "=========================================="
          echo "ACCESS YOUR VNC HERE:"
          curl -s http://localhost:4040/api/tunnels | jq -r '.tunnels[0].public_url'
          echo "=========================================="
          
          # Launch QEMU
          # We boot from netboot.iso to choose the OS installation
          qemu-system-x86_64 \
            -m 4G \
            -smp 2 \
            -cpu host \
            -enable-kvm \
            -boot d \
            -drive file=windows.qcow2,format=qcow2 \
            -cdrom netboot.iso \
            -vnc :0 \
            -net nic,model=virtio -net user \
            -device usb-tablet \
            -vga std
