name: Online Web Android
on: 
  workflow_dispatch:
    inputs:
      ngrok_token:
        description: 'Ngrok Token'
        required: true

jobs:
  web-android:
    runs-on: ubuntu-latest
    steps:
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Start Docker Android with Web VNC
        run: |
          docker run -d -p 6080:6080 --device /dev/kvm --name android-container \
          -e EMULATOR_DEVICE="Samsung Galaxy S10" \
          -e WEB_VNC=true \
          budtmo/docker-android:emulator_11.0

      - name: Install & Start Ngrok
        run: |
          curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null
          echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list
          sudo apt update && sudo apt install ngrok
          ngrok config add-authtoken ${{ github.event.inputs.ngrok_token }}
          # Tunnel port 6080 (the web interface)
          ngrok http 6080 --log=stdout &
          sleep 3600
